.pageContainer{
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .pageContentMeta{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        width: 100%;
        min-height: 300px;
        background-color: #214180;

        .pageTitle{
            font-family: 'Raleway', sans-serif;
            font-size: 40px;
            width: 90%;
            font-weight: 500;
            color: white;

            @media (max-width: 570px){
                font-size: 30px;
            }

        }
    }

    .pageContentContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        width: 85%;

        @media (max-width: 350px){
            width: 90%;
        }

        .pageContent{
            width: 100%;

            margin-top: 50px;
            
            display: flex;
            flex-direction: column;

            // This here is specific WP Classes for stuff (i.e the about us grid)

            .wp-block-image{
                margin: 0 0 1em;

                figure{
                    margin: 0;

                    figcaption{
                        margin-top: 5px;
                        text-align: center;
                    }
                }

                .aligncenter{
                    display: table;

                    margin-right: auto;
                    margin-left: auto;
                }

                img{
                    height: auto;
                    max-width: 100%;
                    vertical-align: bottom;
                }
            }

            figure{
                margin: 1em 0;

                .wp-block-gallery{
                    .has-nested-images{
                        align-items: normal;

                        display: flex;
                        flex-grow: 1;
                        justify-content: center;
                        position: relative;
                        flex-direction: column;
                        max-width: 100%;

                        .columns-default{
                            @media (min-width: 600px){
                                width: calc(33.33% - 16px * 0.66667);
                            }
                        }

                        .is-cropped{
                            width: 100%;
                            flex: 1, 0 0%;
                            height: 100%;
                            -o-object-fit: cover;
                            object-fit: cover;
                        }

                        &:not(#individual-image){
                            width: calc(50% - 16px/2);
                            margin: 0;

                            img{
                                width: 100%;
                                flex: 1 0 0%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }


                .wp-block-image{

                    display: flex;
                    flex-grow: 1;
                    justify-content: center;
                    position: relative;
                    flex-direction: column;
                    max-width: 100%;


                    &:not(#individual-image){
                        width: calc(50% - 16px/2);
                        margin: 0;

                        @media (min-width: 600px){
                            width: calc(33.33% - 16px * 0.66667);
                        }

                        img{
                            width: 100%;
                            flex-grow: 1;
                            flex-shrink: 0;
                            flex-basis: 0%;
                            height: 100%;
                            -o-object-fit: cover;
                            object-fit: cover;
                        }
                    }

                    img{
                        display: block;
                        height: auto;
                        max-width: 100%!important;
                        width: auto;
                    }
                }

                .blocks-gallery-grid{

                    &:not(.has-nested-images){
                        display: flex;
                        flex-wrap: wrap;
                        list-style-type: none;
                        padding: 0;
                        margin: 0;
                    }

                    .blocks-gallery-item{
                        margin: 0 1em 1em 0;
                        display: flex;
                        flex-grow: 1;
                        flex-direction: column;
                        justify-content: center;
                        position: relative;
                        width: calc(50% - 1em);

                        figure{
                            margin: 0;
                            height: 100%;
                            display: flex;
                            align-items: flex-end;
                            justify-content: flex-start;

                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
                
                &:where(figure[class*=wp-container-]){
                    display: flex;
                    gap: 0.5em;
                    flex-wrap: wrap;
                    align-items: center;
                }
            }

            .wp-block-embed{
                margin: 0 0 1em;
                overflow-wrap: break-word;

                iframe{
                    max-width: 100%;
                }

                .wp-block-embed__wrapper{
                    .jetpack-video-wrapper{
                        margin-bottom: 1.6em;

                    }
                }
            }

            pre{
                background: #eee;
                font-family: "courier 10 pitch",courier,monospace;
                line-height: 1.6;
                margin-bottom: 1.6em;
                max-width: 100%;
                overflow: auto;
                padding: 1.6em;

                font-family: monospace,monospace;
                font-size: 1em;

                .wp-block-code{
                    code{
                        display: block;
                        font-family: inherit;
                        overflow-wrap: break-word;
                        white-space: pre-wrap;
                    }
                }

                .wp-block-verse{
                    font-family: inherit;
                    overflow: auto;
                    white-space: pre-wrap;
                }
            }

            .wp-block-buttons{
                .wp-block-button{
                    display: inline-block;
                    margin: 0;

                    .is-style-outline{
                        &:not(.has-background){
                            background-color: transparent;
                        }

                        .wp-block-button__link{
                            &:not(.has-text-color){
                                color: currentColor;
                            }
                        }

                        &:where(.wp-block-button__link){
                            border: 2px solid;
                            padding: 0.667em, 1.333em;
                        }
                    }

                    .wp-block-button__link{
                        color: #fff;
                        background-color: #32373c;
                        border-radius: 9999px;
                        box-shadow: none;
                        cursor: pointer;
                        display: inline-block;
                        font-size: 1.125em;
                        padding: calc(0.667em + 2px) calc(1.333em + 2px);
                        text-align: center;
                        text-decoration: none;
                        word-break: break-word;
                        box-sizing: border-box;                    
                    }
                }
            }

            div{
                &:where(div[class*=wp-container-]){
                    display: flex;
                    gap: 0.5em;
                    flex-wrap: wrap;
                    align-items: center;
                }
            }

            .wp-block-columns{
                display: flex;
                margin-bottom: 1.75em;
                box-sizing: border-box;
                flex-wrap: wrap!important;
                align-items: normal!important;

                @media(min-width: 782px){
                    flex-wrap: nowrap!important;

                    
                }
                
                
                .wp-block-column{
                    flex-grow: 1;
                    min-width: 0;
                    word-break: break-word;
                    overflow-wrap: break-word;

                    @media (max-width: 781px){
                        &:not(.is-not-stacked-on-mobile){
                            flex-basis: 100%!important;
                        }
                    }

                    @media(min-width: 782px){
                        &:not(.is-not-stacked-on-mobile){
                            flex-basis: 0;
                            flex-grow: 1;
                        }
                    }

                    &:not(.is-not-stacked-on-mobile){
                        flex-basis: 0;
                        flex-grow: 1;
                    }
                }
            }

            .wp-block-media-text{
                direction: ltr;
                display: grid;
                grid-template-columns: 50% 1fr;
                grid-template-rows: auto;

                .is-stacked-on-mobile{
                    @media (max-width: 600px){
                        grid-template-columns: 100%!important;
                    }
                }
                
                .wp-block-media-text__media{
                    grid-column: 1;
                    grid-row: 1;
                    margin: 0;

                    align-self: center;
                        
                    img{
                        height: auto;
                        max-width: unset;
                        width: 100%;
                        vertical-align: middle;
                    }
                    
                    @media (max-width: 600px){
                        grid-column: 1;
                        grid-row: 1;
                    }
                }
                

                .wp-block-media-text__content{
                    direction: ltr;
                    grid-column: 2;
                    grid-row: 1;
                    padding: 0 8%;
                    word-break: break-word;

                    @media (max-width: 600px){
                        grid-column: 1;
                        grid-row: 2;
                    }
                    
                }
            }
            
            blockquote{
                margin: 0 1.5em;

                .wp-block-quote{
                    box-sizing: border-box;
                    overflow-wrap: break-word;

                    p{
                        margin-bottom: 1.5em;
                    }
                }
            }

            .wp-block-pullquote{
                margin: 0 0 1em;
                padding: 3em 0;
                text-align: center;
                overflow-wrap: break-word;
                box-sizing: border-box;

                blockquote{
                    color: inherit;
                    margin: 0 1.5em;

                    p{
                        font-size: 1.75em;
                        line-height: 1.6;
                    }

                    cite{
                       color: inherit;
                       font-style: italic; 
                    }
                }
            }

            
            .committeeMember{
                border-radius: 10px;
                padding-top: 30px;
                background-color: rgba(230,230,230);
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                .wp-block-image{
                    img{
                        height: auto;
                        max-width: 100%;
                        border-radius: 100%;
                    }
                }

                .memberName{
                    font-size: 26px;
                    font-weight: 600;
                    color: #000;
                    text-align: center;
                }

                .memberRole{
                    font-size: 18px;
                    font-weight: 600;
                    text-align: center;
                    margin-top: -15px;
                }

                .memberDesc{
                    font-size: 16px;
                    font-weight: 500;
                    text-align: center;
                    width: 90%;
                    margin-top: 0;
                }

                .memberContact{
                    font-size: 16px;
                    font-weight: 400;
                    text-align: center;
                    margin-top: -10px;
                    width: 90%;
                    text-align: center;                
                }
                
                .memberEmail{
                    font-size: 16px;
                    font-weight: 600;
                    text-align: center;
                    margin-top: 0;
                }
            }
        }
    }
}
