body{
    margin: unset;

    overflow-x: hidden;

    line-height: 1.5;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #F5F5F5;
}

*{
    box-sizing: border-box;
    
}

a{
    color: #1750A7;
    text-decoration: none;

    &:hover{
        cursor: pointer;
        text-decoration: underline;
    }
}

ul{
    list-style: disc;
    padding-inline-start: 0;
}

ul, ol{
    margin: 0 0 1.5em 3em;
}

.app{
    width: 100vw;

    min-height: 100vh;

    position: absolute;

}

.button-blue{
    background-color: #32AAED;
}


// Everything below is essentially wordpress constants.

